.todolist {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
.inputAndButtonTodolist {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.inputTodolist {
  font-size: 2em;
  color: #fff;
  width: 30%;
  border-radius: 10px;
  padding-left: 10px;
}
.todolistAjouter {
    width: 30%;
}
.todolist ul {
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
  gap: 10px;
  padding-left: 0;
}
li {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  line-height: 47px;
}
.box4Btn4Check {
    display: flex;
    gap: 5px;
    width: 30%;
   
}
.todolistSupprimer {
  width: 100%;
}
