#root {
  max-width: 1280px;
  margin: 1em auto;
  padding: 2rem;
  text-align: center;
  background-color: grey;
}
.github {
  color: antiquewhite;
  font-size: 2em;
 padding: 5px 10px;
 background-color: #000;
 border-radius: 20px;
 margin: 3em auto;
 box-shadow: 5px 5px 10px;
}
h1 {
  margin-bottom: 1em;
}
h2 {
  color: red;
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 1em;
}
.trait {
  width: 100%;
  height: 2px;
  background-color: red;
  margin-top: 3em;
}
/* features */
.features {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.feature-icon {
  width: 100px;
  height: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}
.feature-item {
  flex: 1;
  padding: 2.5rem;
}
.feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
@media (max-width: 920px) {
  .features {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/*Accordion */
.accordionSection {
  border-radius: 10px;
  padding: 0;
  margin: 0px 0px 38px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 76px;
  position: relative;
}

.accordionBody {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  animation: disapear all 3s;
  
}
.accordion-item {
  width: 100%;
  top: 0px;
}
.accordion-title {
  z-index: 2;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
}
.arrow {
  width: 20px;
  height: 20px;
  transition: all 300ms ease-in-out;
  transform: rotate(180deg);
}

.rotated {
  width: 20px;
  height: 20px;
  transition: all 300ms ease-in-out;
  transform: rotate(0deg);
}
.accordion-content {
  display: none;
  position: relative;
  top: -30px;
}
.accordion-content-active {
  display: block;
  overflow: hidden;
  z-index: 4;
  background-color: #f6f6f6;
  border-radius: 0px 0px 10px 10px;
  color: #ff6060;
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  padding: 40px 20px;
  position: relative;
  top: -10px;
  animation: descending 0.5s linear forwards;
}
/* animation */
@keyframes descending {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes ascending {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

/* card*/
* {
  margin: 0;
}

.cards {
  background-color: silver;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 50px 4.3%;
  margin: 22px 0px 50px 0px;
}
.card-style {
  display: flex;
  justify-content: center;
  gap: 45px;
 
}
.card {
  width: 30%;
  height: 340px;
  border-radius: 20px;
  position: relative;
}
.card img {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-title {
  width: 90%;
  height: 10%;
  position: absolute;
  bottom: 5%;
  left: 3%;
  color: #FFFfff;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

@keyframes disapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




