.accordionSection {
  border-radius: 10px;
  padding: 0;
  margin: 0px 0px 38px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 76px;
  position: relative;
}

.accordionBody {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  animation: disapear all 3s;
  
}
.accordion-item {
  width: 100%;
  top: 0px;
}
.accordion-title {
  z-index: 2;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  padding: 10px;

}
.down {
  width: 20px;
  height: 20px;
  transition: all 300ms ease-in-out;
  transform: rotate(180deg);
}

.up {
  width: 20px;
  height: 20px;
  transition: all 300ms ease-in-out;
  transform: rotate(0deg);
}
.accordion-content1 {
  display: none;
  position: relative;
  top: -30px;
}
.accordion-content1-active {
  display: block;
  overflow: hidden;
  z-index: 4;
  background-color: #f6f6f6;
  border-radius: 0px 0px 10px 10px;
  color: #ff6060;
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  padding: 40px 20px;
  position: relative;
  top: -10px;
  animation: descending 0.5s linear forwards;
}
/* animation */
@keyframes descending {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes ascending {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}
